@mixin text-regular{
    font-size:14px;
    color:$color-text;
}
@mixin button($color){
    display:inline-block;
    line-height:40px;
    font-size:14px;
    border:1px solid $color;
    color:$color;
    text-transform:uppercase;
    padding:0 10px;
}
@mixin title{
    color: $color-blue;
    font-size:35px;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    &:after{
        position: absolute;
        content: '';
        display: inline-block;
        left:0;
        bottom:-5px;
        height:2px;
        width:60px;
        background: $color-blue;
    }
}
@mixin click{
    user-select: none;
    cursor:pointer;
}
