@mixin text-regular{
    font-size:14px;
    color:$color-text;
}
@mixin button($color){
    display:inline-block;
    line-height:40px;
    font-size:14px;
    border:1px solid $color;
    color:$color;
    text-transform:uppercase;
    padding:0 10px;
}
@mixin socials($color){
    display:inline-block;
    line-height:40px;
    font-size:14px;
    border:1px solid $color;
    background:$color;
    color:#fff;
    text-transform:capitalize;
    text-align:center;
    padding:0 6px;
    margin-right:4px;
    width:100px;
}
@mixin title{
    color: $color-blue;
    font-size:35px;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    &:after{
        position: absolute;
        content: '';
        display: inline-block;
        left:0;
        bottom:-5px;
        height:2px;
        width:60px;
        background: $color-blue;
    }
}
@mixin title2{
    color: $color-blue;
    font-size:35px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom:40px;
}
@mixin click{
    user-select: none;
    cursor:pointer;
}

@mixin current-title{
    float:left;
    color:#fff;
    font-size:24px;
    text-transform:uppercase;
    text-align:left;
    padding:24px 0;
}

@mixin current-path{
    float:right;
    font-size:14px;
    color:#fff;
    text-align:right;
    padding:27px 0;
}

@mixin blog-text{
    font-size:14px;
    color:#4b4b4b;
    line-height:22px;
    text-align:left;
}

@mixin blog-title{
    padding:15px 0;
    font-size:24px;
    text-align:left;
    font-weight:700;
}


